<h1>About</h1>
<div>
    <h3>RANKS</h3>
    <p>You will find the top players in north america and their details. Such as their strongest champions and where they place on the leaderbaords.</p>
    <h3>BIG DATA</h3>
    <p>Billions of data points are collected every day on Riot Games API. Our strength comes not only from making the use of the volume, but also by neatly presenting the data to help gamers improve their skills as well as their overall experience</p>
</div>