<% if @summoners.empty?%>
    <p>We are having troubles loading the summoners, Try again at a later time.</p>
<% else %>
    <br/>
<h2>Top Summoners</h2>
<br/>
        <% @summoners.each do |summoner| %>
            <br/>
            <h3><%= link_to summoner.summonerName, summoner %></h3>
            <p>
            Summoner Level: <%=summoner.summonerLevel%>
            </p>
            
    <% end %>
<% end %>