<%if @players.empty?%>
<p>We are having troubles loading the players, Try again at a later time.</p>
<% else %>
<h2>Top Players</h2>
<br/>
    <% @players.each do |player| %>
                <br/>
        <h3><%= link_to player.name, player %></h3>
                <p>Summoner Name: <%=player.summoner.summonerName%></p>
                <p>Summoner Level: <%=player.summoner.summonerLevel%></p>
    <% end %>
<% end %>
