<%if @players.empty?%>
<p>No Players Found</p>
<% else %>
    <% @players.each do |player| %>
    <h3><%= player.name %></h3>
    <p>Summoner Name: <%=player.summoner.summonerName%></p>
    <p>Summoner Level: <%=player.summoner.summonerLevel%></p>
    <br/>
    <% end %>
<% end %>
